<section class="carousel container py-5" id="main">
  <div class="carousel-slick wow animate__pulse">
    <a>
      <img class="img-fluid" src="assets/img/slider1.png" alt="img" />
    </a>
    <!-- <a>
            <img class="img-fluid" src="assets/img/slider2.png" alt="img">
        </a>
        <a>
            <img class="img-fluid" src="assets/img/slider3.png" alt="img">
        </a> -->
  </div>
</section>

<section class="faq container" style="max-width: 55rem">
  <h2 class="text-center fw-bold pt-3 mb-5">
    Ответы на часто задаваемые вопросы
  </h2>
  <div id="accordion">
    <h3 class="mb-3 p-3 fw-bolder">Собираете ли вы подарочные боксы?</h3>
    <div class="py-1 px-3">
      <p>
        Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой
        вкус, объем и стоимость!
      </p>
    </div>
    <h3 class="mb-3 p-3 fw-bolder">Сколько у вас разновидностей чая?</h3>
    <div class="py-1 px-3">
      <p>
        Существует шесть классических видов чая в зависимости от типа
        ферментации чайных листьев и степени окисления — процента чайного листа,
        который подвергается этому процессу
      </p>
    </div>
    <h3 class="mb-3 p-3 fw-bolder">В какой срок осуществляется доставка?</h3>
    <div class="py-1 px-3">
      <p>
        Перевозчики обязаны осуществлять доставку грузов в сроки, установленные
        договором перевозки груза, а в случае, если указанные сроки в договоре
        перевозки ...
      </p>
    </div>
    <h3 class="mb-3 p-3 fw-bolder">У вас обновляется ассортимент?</h3>
    <div class="py-1 px-3">
      <p>
        Обновлени всех категорий товаров - один, два раза в неделю. Частичное
        добавление товара - каждый день.
      </p>
    </div>
    <h3 class="mb-3 p-3 fw-bolder">Какого объема у вас пачки чая?</h3>
    <div class="py-1 px-3">
      <p>
        Объем пачки небольшой, чай испортиться не успеет (при условии, что его
        правильно хранят), а покупатель может визуально оценить качество
      </p>
    </div>
  </div>
</section>

<!-- Модальное окно с текстом "Посмотрите наши чайные коллекции" и кнопкой "Закрыть" -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Посмотрите наши чайные коллекции</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вставьте здесь информацию о ваших чайных коллекциях или дополнительный текст.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
