<section class="order container py-3 pb-4" style="max-width: 40rem">
    <h2 class="text-center fw-bold pt-3 mb-5">Сделать заказ</h2>
    <form class="row g-3 wow animate__heartBeat">
        <div class="col-md-4">
            <label for="inputCity" class="form-label">Товар</label>
            <input type="text" class="form-control" id="inputCity" />
          </div>
          <div class="col-8">
            <label for="inputZip" class="form-label">Комментарий</label>
            <input type="text" class="form-control" id="inputZip" />
          </div>
      <div class="col-md-4">
        <label for="inputName" class="form-label">Имя</label>
        <input type="text" class="form-control" id="inputName" />
      </div>
      <div class="col-md-4">
        <label for="inputSubname" class="form-label">Фамилия</label>
        <input type="text" class="form-control" id="inputSubname" />
      </div>
      <div class="col-md-4">
        <label for="inputPhone" class="form-label">Телефон</label>
        <input type="phone" class="form-control" id="inputPhone" />
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Страна</label>
        <input type="text" class="form-control" id="inputCity" />
      </div>
      <div class="col-6">
        <label for="inputZip" class="form-label">Индекс</label>
        <input type="text" class="form-control" id="inputZip" />
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Адрес</label>
        <input type="text" class="form-control" id="inputAddress2" />
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary hvr-pulse-shrink">
          Отправить
        </button>
      </div>
    </form>
  </section>