<section class="main mb-5" id="products">
    <h2 id="adv" class="text-center fw-bold mb-5">Описание чая</h2>
    <div class="container wow animate__zoomIn">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 justify-content-center">
            
            <div class="col-xl-auto">
                <div class="card mx-auto" style="max-width: 26rem;">
                    <a  class="popup-img">
                        <img src="{{product.image}}" class="card-img-top" alt="img">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-5">{{product.title}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <span class="mx-3 btn btn-primary px-5 hvr-bubble-float-top">{{product.price | currency:'RUB ':'symbol':'1.2-2' }}</span>
                        <a [routerLink]="['/order', product.title]" class="btn btn-primary px-5 hvr-bubble-float-top">Купить</a>

                    </div>
                </div>
            </div>
                       
        </div>
    </div>
  
  </section>